
.burger-icon {
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
    position: static;
    background-color: transparent;
    width: auto;
}
nav ul li {
    margin: 0 20px;
}