.burger-toggle {
    display: none;
}
.burger-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1001;
}
.burger-icon .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 60px; 
    right: 20px;
    background-color: rgba(10, 13, 60, 0.807);
    width: 60%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.534); 
    z-index: 1000;
}

nav ul li {
    padding: 15px 0;
}

.burger-toggle:checked ~ ul{
display:block;
}

/*Project page*/
.projects-page {
    padding: 40px;
}
.projects-grid {
    grid-template-columns: 1fr;
    gap: 20px;
}
.project img {
    height: 150px;
}

/*Contact page*/
.contact-container {
    flex-direction: column; 
    padding: 20px;
    max-width: 90%;
}
/*Report page*/
.report-container {
    max-width: 100%;
    margin: 60px 10px 60px; 
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.validation-grid {
    grid-template-columns: 1fr;
}

.validation-item {
    margin: 10px 0;
}