.burger-toggle {
    display: none;
}
.burger-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1001;
}
.burger-icon .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 60px; 
    right: 20px;
    background-color: rgba(10, 13, 60, 0.304);
    width: 50%;
    text-align: center;
    border: 3px solid #42424856; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.burger-toggle:checked ~ ul {
    display: block;
}
