body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #353333dd; 
    padding: 20px;
    text-align: center;
    position: relative;
    padding-top: 40px;
    color: white;
}
h1 {
    color: rgb(170, 221, 110);
    background-color: rgb(10, 74, 24);
    margin-bottom: 20px; 
}

nav {
    background-color: #554949; /* Dark background for the nav bar */
    padding: 15px 0; /* Add padding above and below the links */
    width: 100%; /* Make the nav bar span the full width */
    position: fixed; /* Fix the nav bar at the top of the page */
    top: 0; /* Position it at the very top */
    left: 0; /* Align it to the left */
    z-index: 1000; }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: -20px;
    margin-top: 20px;
}

aside {
    background-color: #656b67; 
    padding: 10px;
    margin-top: 20px;
}


footer {
    background-color: #484444; 
    padding: 10px;
    text-align: center;
}
